@import url(https://fonts.googleapis.com/css?family=Droid+Sans&subset=cyrillic);

body {
    font-family: 'Droid Sans', sans-serif;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 40px auto 0;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin .checkbox {
    font-weight: normal;
}
.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="text"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

/* Pomodoro */
.work {
    font-weight: bold;
    color: #cb2821;
}

.break {
    color: #57a639;
}

.long_break {
    color: #3b5998;
}

/* Xtra-small button */
.btn-xsm, .btn-group-xsm > .btn {
    padding: .25rem .75rem;
    font-size: .5rem;
    line-height: 1.5;
    border-radius: .5rem;
}
