{% extends 'base.html.twig' %}

{% block navbar %}
    <nav class="navbar navbar-light bg-faded">
        <a href="#" class="navbar-brand">2kai</a>
        <div class="pull-xs-right">
            {% if is_timer_started %}
                <span id="pomodoro-timer"></span>
                <a href="{{ path("pomodoro_stop") }}" class="btn btn-secondary btn-sm">
                    <i class="fa fa-stop"></i>
                </a>
                <script type="text/javascript">
                    var pomodoroTimer = new Date({{ current_timer }});
                    var pomodoroTimerStatus = '{{ current_timer_status }}';
                    var pomodoroNextTimerUrl = '{{ path("pomodoro_next") }}';
                </script>
            {% else %}
                <a href="{{ path("pomodoro_next") }}" class="btn btn-secondary btn-sm">
                    <i class="fa fa-play"></i>
                </a>
            {% endif %}
            <a href="{{ path("logout") }}">Logout</a>
        </div>
    </nav>
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                <ul class="nav nav-sidebar">
                    <li><a href="{{ path("dashboard") }}">Dashboard</a></li>
                </ul>
            </div>
            <div class="col-sm-9 col-md-10 main">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <tbody>
                        {% for task in tasks %}
                            <tr{% if task.isStarted %} class="bg-success"{% endif %}>
                                <td class="col-md-1 text-xs-center">
                                    {% if task.isStarted %}
                                        <a href="{{ path("task_stop", {'task_id': task.id}) }}" class="btn btn-secondary btn-xsm">
                                            <i class="fa fa-stop"></i>
                                        </a>
                                    {% else %}
                                        <a href="{{ path("task_start", {'task_id': task.id}) }}" class="btn btn-secondary btn-xsm">
                                            <i class="fa fa-play"></i>
                                        </a>
                                    {% endif %}
                                </td>
                                <td class="col-md-11">{{ task.title }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}