{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        {% if error %}
            <div class="alert alert-danger" role="alert">
                {{ error.messageKey|trans(error.messageData, 'security') }}
            </div>
        {% endif %}
        <form class="form-signin" action="{{ path('login_check') }}" method="post">
            <h2 class="form-signin-heading">Please sign in</h2>
            <label class="sr-only" for="inputUsername">Username</label>
            <input name="_username" value="{{ last_username }}" type="text" autofocus="" required=""
                   placeholder="Username" class="form-control" id="inputUsername">
            <label class="sr-only" for="inputPassword">Password</label>
            <input name="_password" type="password" required="" placeholder="Password" class="form-control"
                   id="inputPassword">
            <div class="checkbox">
                <label>
                    <input name="_remember_me" type="checkbox"> Remember me
                </label>
            </div>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            <button type="submit" class="btn btn-lg btn-primary btn-block">Sign in</button>
        </form>
    </div>
{% endblock %}